/**index.wxss**/

/**page设置局部区域大小**/
//padding:一次性设置元素所有四条边的
page {
  height: 100vh;
  background-color: #efefef !important;
  display: flex;
  flex-direction: column;
  padding: 10rpx;
  box-sizing: border-box;
  
//设置轮播图向上间隔距离
  >view{
    &:nth-child(n + 2){
      margin-top: 16rpx;
    }
  }
}

//文字样式
//justify-content:文字之间均分分开
//background-color:背景颜色
//padding:一次性设置元素所有四条边的
//font-size：文字大小
.info{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20rpx 16rpx;
  border-radius: 15rpx;
  font-size: 28rpx;

  //定义icon图标大小
  .iconfont{
    font-size: 24rpx;
  }
}
//定义轮播图的样式
//border-radius：设置圆角效果角度
.swiper{
  border-radius: 15rpx;
  overflow: hidden;
  //.swiper 轮播图滑块容器组件，其中只能放置 swiper-item
  swiper{
    height: 360rpx;
    background-color: skyblue;
    //swiper-item 只能放在swiper中，宽高自动设置100%，代表swiper中的每一项
    swiper-item{
      //&在Sass中表示父选择器，应用的意思
      // &:first-child{
      //   background-color: lightsalmon;
      // }
      // &:last-child{
      //   background-color: lightseagreen;
      // }
      image{
        width: 100%;
        height: 100%;
      }
    }
  }
}

//图标设置
//display: flex  水平排列
//justify-content: space-between;  左右间距相等
.goodnav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 24rpx 16rpx;
  border-radius: 10rpx;

  //flex-direction: column  垂直排列
  view {
    navigator{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    image{
      width: 80rpx;
      height: 80rpx;
    }
  }

  text{
    font-size: 24rpx;
    margin-top: 12rpx;
  }


}

//推荐
//推荐栏边框设置
.good-nav{
  background-color: #fff;
  padding: 16rpx;
  border-radius: 10rpx;
  font-size: 24rpx;

  //white-space: nowrap 不许换行，达到左滑效果
  .scroll-x {
    width: 100%;
    white-space: nowrap;
    
    //栏边框设置
    view{
      display: inline-block;
      width: 320rpx;
      height: 320rpx;
      margin-right: 16rpx;

      //对图片进行大小设置
      image{
        width: 100%;
        height: 320rpx;
      }

      //对图片和文字进行编排
      .good-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        //加粗字体
        text{
          &:nth-of-type(1){
            font-weight: bold;
          }
        }
      }
      //推荐最后一个图右滑后不会出现空隙
      &:last-child{
        margin-right: 0;
      }
    }

  }
}

//Y轴下拉 

// .scroll-y {
//   height: 400rpx;
//   background-color:skyblue;
//   margin-top: 10rpx;

//   view{
//     height: 400rpx;
//     background-color: lightsalmon;

//     &:last-child{
//       background-color: lightcoral;
//     }
//     &:first-child{
//       background-color: lightgreen;
//     }
//   }
// }