/* pages/list/list.wxss */
.catch{
  display: flex;
  height: 300rpx;
  background-color: skyblue;
  align-items: center;
}

view{
  display: flex;
  height: 300rpx;
  background-color: skyblue;
  align-items: center;
}
